@import 'node_modules/bootstrap/scss/bootstrap';

/* Navbar Start */

.navbar-nav {
  width: 100%;
  justify-content: space-between;
}

/* Navbar End */

h1 {
  text-align: center;
  margin-top: 1em;
}
