@import 'node_modules/bootstrap/scss/bootstrap';

/* Navbar Start */

.navbar-nav {
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 991px) {

  .btn-sm,
  .dropdown {
    margin-top: 2em;
  }
}

/* Navbar End */

h1,
h6 {
  text-align: center;
  margin: 1em 0 1em 0;
}
