@import 'node_modules/bootstrap/scss/bootstrap';

/* Navbar Start */

.navbar-nav {
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 991px) {

  .btn-sm,
  .dropdown {
    margin-top: 2em;
  }
}

/* Navbar End */

h1,
h6 {
  text-align: center;
  margin: 1em 0 1em 0;
}

/* Wrapper Start */

#wrapper {
  display: flex;
  justify-content: center;
}

#wrapper div {
  width: 100%;
}

@media screen and (min-width: 991px) {
  #wrapper div {
    width: 50%;
  }
}

/* Wrapper End */
