<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<%- contentFor('body') %>

<div id="pages-my-transactions-dashboard" class="container text-center"></div>

<script>
  const labels = [
    'APPS',
    'CAR',
    'CLOTHES',
    'PHONE',
    'EATING OUT',
    'ENTERTAINMENT',
    'GIFTS',
    'GROCERIES',
    'HEALTH',
    'PETS',
    'HOUSE',
    'TRANSPORT',
    'DEPOSIT',
    'SAVINGS',
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'My First dataset',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: [0, 10, 5, 2, 20, 30, 45],
    }]
  };

  const config = {
    type: 'doughnut',
    data: data,
    options: {}
  };

  // TODO: get all transactions and display them here
  const generateChart = () => {
    const $chart = $(`
      <div class="row mb-3">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <canvas id="myChart" class="w-100"></canvas>
        </div>
      </div>
    `)

    return $chart
  }

  const generateTransactions = ({ transactions = [] } = {}) => {
    const $transactions = $(`
      <h6>Transactions</h6>
      <div class="list-group">
        ${transactions.map((transaction) => `<a href="/my/transactions/edit/${transaction.id}" class="list-group-item list-group-item-action list-group-item-primary">${transaction.description}</a>`).join('')}
      </div>
    `)

    return $transactions
  }

  const generatePage = (info) => {
    const $page = $('#pages-my-transactions-dashboard')
    const $title = $('<h1 class="my-3">My Dashboard</h1>')
    const $chart = generateChart(info)
    const $transactions = generateTransactions(info)

    $page.html('').append($title).append($chart).append($transactions)
  }

  $(document).ready(() => {
    let chart

    generatePage()
    chart = new Chart(
      document.getElementById('myChart'),
      config
    )

    axios({
      method: 'GET',
      url: '/api/my/transactions/dashboard'
    }).then((resp) => {
      generatePage({
        transactions: resp.data
      })

      chart = new Chart(
        document.getElementById('myChart'),
        config
      );
    })
  })
</script>
