<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<%- contentFor('body') %>

<div id="pages-my-transactions-dashboard" class="container text-center"></div>

<script>
  const labels = [
    'APPS',
    'CAR',
    'CLOTHES',
    'PHONE',
    'EATING OUT',
    'ENTERTAINMENT',
    'GIFTS',
    'GROCERIES',
    'HEALTH',
    'PETS',
    'HOUSE',
    'TRANSPORT',
    'DEPOSIT',
    'SAVINGS',
  ];

  // TODO: get all transactions and display them here
  const generateChart = () => {
    const $chart = $(`
      <div class="row mb-3">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <canvas id="myChart" class="w-100"></canvas>
        </div>
      </div>
    `)

    return $chart
  }

  const generateTransactions = ({ transactions = [] } = {}) => {
    const $transactions = $(`
      <h6>Transactions</h6>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
        ${
          transactions.map((transaction) => {
            return `

              <tr>
                <th scope="row">${moment(transaction.date).format('DD/MM/YYYY')}</th>
                <td>${transaction?.category?.name}</td>
                <td>${transaction.description}</td>
                <td class="${transaction.type === 'EXPENSE' ? 'text-danger' : 'text-success'}">$${transaction.amount}</td>
                <td><a href="edit" class="btn btn-success btn-lg btn-sm">Edit</a></td>
                <td><button class="btn btn-danger btn-sm delete-my-transaction" data-id="${transaction.id}">Delete</button></td>
              </tr>

            `
          }).join('')
        }
        </tbody>
      </table>
    `)

    return $transactions
  }

  const generatePage = (info) => {
    const $page = $('#pages-my-transactions-dashboard')
    const $title = $('<h1 class="my-3">My Dashboard</h1>')
    const $chart = generateChart(info)
    const $transactions = generateTransactions(info)
    console.log($transactions[2])

    $page.html('').append($title).append($chart).append($transactions)
  }

  const groupExpenseIncome = (transactions) => {
    const expenses = transactions.filter((t) => {
      return t.type === 'EXPENSE'
    })

    const totalExpenses = expenses.reduce((total, e) => {
      return total + e.amount
    },0)

    const income = transactions.filter((t) => {
      return t.type === 'INCOME'
    })

    const totalIncome = income.reduce((total, i) => {
      return total + i.amount
    },0)

    return {
      expenses,
      totalExpenses,
      income,
      totalIncome
    }
  }

  $(document).ready(() => {
    let chart

    generatePage()


    axios({
      method: 'GET',
      url: '/api/my/transactions/dashboard'
    }).then((resp) => {
      generatePage({
        transactions: resp.data
      })

      const groups = groupExpenseIncome(resp.data)
      console.log(groups)

      const config = {
        type: 'doughnut',
        data: {
          labels: ['income', 'expense'],
          datasets: [{
            label: 'My Transactions',
            borderColor: 'rgb(255, 99, 132)',
            data: [groups.totalIncome, groups.totalExpenses],
            backgroundColor: [
              'rgba(245, 39, 39, 0.8)',
              'rgba(88, 89, 244, 0.8)',
            ],
          }]
        }
      }

      chart = new Chart(
        document.getElementById('myChart'),
        config
      )
    })

    $('#pages-my-transactions-dashboard').on('click', '.delete-my-transaction', (e) => {
      $(e.target).attr('disabled', true)
      const tId = $(e.target).data('id')

      axios({
        method: 'DELETE',
        url: `/api/my/transactions/${tId}`
      }).then((resp) => {
        $(e.target).parents('tr').remove()
      })
    })

  })
</script>
