<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<%- contentFor('body') %>

<div id="pages-my-transactions-dashboard" class="container text-center"></div>

<script>
  let chart = null
  let transactions = []

  const generateChart = () => {
    const $chart = $(`
      <div class="row mb-3">
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
          <canvas id="myChart" class="w-100"></canvas>
        </div>
      </div>
    `)

    return $chart
  }

  const generateTransactions = () => {
    const $transactions = $(`
      <h2 class="my-3">Transactions</h2>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Order by
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><button class="dropdown-item" type="button">Date (old to new)</button></li>
          <li><button class="dropdown-item" type="button">Date (new to old)</button></li>
          <li><button class="dropdown-item" type="button">Amount (high to low)</button></li>
          <li><button class="dropdown-item" type="button">Amount (low to high)</button></li>
          </ul>
      </div>


      <table class="table table-hover my-3">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
        ${
          transactions.map((transaction, index) => {
            return `
              <tr>
                <th scope="row">${moment(transaction.date).format('DD/MM/YYYY')}</th>
                <td>${transaction?.category?.name}</td>
                <td>${transaction.description}</td>
                <td class="${transaction.type === 'EXPENSE' ? 'text-danger' : 'text-success'}">$${transaction.amount.toLocaleString()}</td>
                <td><a href="${transaction.id}/edit" class="btn btn-success btn-lg btn-sm">Edit</a></td>
                <td><button class="btn btn-danger btn-sm delete-my-transaction" data-id="${transaction.id}">Delete</button></td>
              </tr>
            `
          }).join('')
        }
        </tbody>
      </table>
    `)

    return $transactions
  }

  const updateChart = () => {
    const expenses = transactions.filter((t) => (t.type === 'EXPENSE'))
    const totalExpenses = expenses.reduce((total, e) => (total + e.amount), 0)
    const income = transactions.filter((t) => (t.type === 'INCOME'))
    const totalIncome = income.reduce((total, i) => (total + i.amount), 0)

    chart = new Chart( document.getElementById('myChart'), {
      type: 'doughnut',
      data: {
        labels: ['Income', 'Expense'],
        datasets: [{
          label: 'My Transactions',
          data: [totalIncome, totalExpenses],
          backgroundColor: [
            'rgba(0, 255, 0, 0.8)',
            'rgba(255, 0, 0, 0.8)'
          ]
        }]
      }
    })
  }

  const generatePage = () => {
    const $page = $('#pages-my-transactions-dashboard')
    const $title = $('<h1 class="my-5">My Dashboard</h1>')
    const $chart = generateChart()
    const $transactions = generateTransactions()

    $page.html('').append($title).append($chart).append($transactions)
    updateChart()
  }

  $(document).ready(() => {
    generatePage()
    axios({
      method: 'GET',
      url: '/api/my/transactions/dashboard'
    }).then((resp) => {
      // resp = [ {id, amount, type... }, {}, ... ]
      transactions = resp.data
      generatePage()
    })

    $('#pages-my-transactions-dashboard').on('click', '.delete-my-transaction', (e) => {
      $(e.target).attr('disabled', true)
      const tId = $(e.target).data('id')

      axios({
        method: 'DELETE',
        url: `/api/my/transactions/${tId}`
      }).then((resp) => {
        // resp = { id, amount, type }
        const foundIndex = transactions.findIndex((t) => (t.id === tId))
        if (foundIndex >= 0) {
          transactions.splice(foundIndex, 1)
          generatePage()
        }
      })
    })

  })
</script>
