

<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav justify-content-between align-items-center flex-grow-1">

        <li class="nav-item dropdown mb-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Filter
          </a>
          <ul class="dropdown-menu mb-3" aria-labelledby="navbarDropdownMenuLink">
            <li><a data-date="Today" class="dropdown-item" href="#">Today</a></li>
            <li><a data-date="2Week" class="dropdown-item" href="#">last 2 Weeks</a></li>
            <li><a data-date="Month" class="dropdown-item" href="#">Last Month</a></li>
            <li><a data-date="All" class="dropdown-item" href="#">All</a></li>
          </ul>
        </li>

        <% if (locals?.addExpense) {%>
          <li class="nav-item mb-3">
            <a href="create" class="btn btn-success btn-lg btn-sm">Add Transaction</a>
          </li>
        <% } %>

        <% if (locals?.back) {%>
          <li class="nav-item mb-3">
            <a href="/my/transactions/dashboard" class="btn btn-success btn-lg btn-sm">back</a>
          </li>
        <% } %>

        <li class="nav-item mb-3">
          <button type="button" id="user-logout" class="btn btn-warning btn-lg btn-sm">Log out</button>
        </li>

      </ul>
    </div>
  </div>
</nav>

<script>

    $(document).ready(() => {
      $('#user-logout').on('click', (e) => {
        e.preventDefault()

        axios({
          method: 'DELETE',
          url: '/api/user/logout'
        }).then(() => {
          window.location.href = '/user/login'
        })
      })
    })

    $('#navbar').on('click', '.dropdown-item', (e) => {
      console.log($(e.currentTarget))
      const queries = {
        date: $(e.currentTarget).data('date')
      }
      axios({
        method: 'GET',
        url: '/api/my/transactions/dashboard',
        params: queries
      }).then((resp) => {
        transactions = resp.data
        generatePage()
      })
    })

</script>
